# Ignore virtual environment and model folder
venv/
models/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

# Ignore logs and cache
logs/
*.log
*.cache

# Ignore VS Code settings
.vscode/